stages:
  - lint
  - test-and-build

variables:
  AUTO_CONFIRM_DEPLOY: "true"

lint:
  stage: lint
  image: golang
  variables:
    GOLANGCI_LINT_VERSION: "v2.8.0"
  before_script:
    - apt-get update && apt-get install -y jq && curl -sSfL https://golangci-lint.run/install.sh | sh -s -- -b $(go env GOPATH)/bin ${GOLANGCI_LINT_VERSION}
  script:
    - make lint
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"

test:
  stage: test-and-build
  image: golang
  needs:
    - lint
  before_script:
    - apt-get update && apt-get install -y jq
  script:
    - make test
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"

build:
  stage: test-and-build
  needs:
    - lint
  tags:
    - dind
  image: docker:cli
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
    IMAGE_REGISTRY_BASE: "registry.nj.cs.ac.cn/e2b"
  before_script:
    - apk add --no-cache make jq
    - until docker info; do sleep 1; done
  script:
    - make build-and-upload
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"
